[submodule "Ematch_board/Software/lib/librnp"]
	path = Ematch_board/Software/lib/librnp
	url = git@github.com:icl-rocketry/librnp.git
[submodule "Ematch_board/Software/lib/librrc"]
	path = Ematch_board/Software/lib/librrc
	url = git@github.com:icl-rocketry/librrc.git
